body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.searchTerm {
  text-align: left;
  width: 100%;
  padding: 0px;
  height: 3rem;
  border-radius: 15px;
  outline: none;
  font-size: 1.5rem;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}

.cards__item {
  display: flex;
  padding: 1rem;
  width: 25%;
}

.card {
  background-color: white;
  border-radius: 0.25rem;
  box-shadow: 0 20px 40px -14px rgba(0,0,0,0.25);
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.card__content {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  padding: 1rem;
}

.card__image {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
  filter: contrast(70%);
  overflow: hidden;
  position: relative;
  transition: filter 0.5s cubic-bezier(.43,.41,.22,.91);
}

.card__image:hover{
  filter: contrast(100%);
}

.card__title {
  color: #696969;
  padding-bottom: 1rem;
  font-size: 1.25rem;
  font-weight: 300;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.card__text, .card__detail p {
  flex: 1 1 auto;
  font-size: 0.875rem;
  line-height: 1.5;
  margin-bottom: 1.25rem;
}

.card__detail {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.card__detail p {
  text-align: center;
}

.card__detail button{
  text-align: center;
}

@media(max-width: 700px){
  .cards__item{
    width: 50%;
  }
}

.buttonStyle {
  padding: 20px 60px;
  border: none;
  outline: none;
  position: relative;
  border-radius: 5px;
  background: linear-gradient(to right, #fafa6e, #08edfb);
  cursor: pointer;
  z-index: 1;
}
.buttonStyle::before {
  content: "";
  position: absolute;
  top: 1px;
  right: 1px;
  bottom: 1px;
  left: 1px;
  background-color: white;
  border-radius: 4px;
  z-index: -1;
}

.buttonStyle::after {
  content: attr(data);
  font-size: 16px;
  background: linear-gradient(to left, #fafa6e, #08edfb);
  webkit-background-clip: text;
  color: transparent;
}
/* .background-container{
  width:100%;
  height: 400px;
  background-image: url('./background.svg');
  background-size: cover;
  background-repeat:no-repeat;
  background-position: center 70%;
  border: 1px solid black;
} */
svg {
  position: relative;
  width: 100%;
  height: 100%;
  border: none;
  object-fit: cover;
  z-index: 1;
}

/* body{
  background-image: url('nbclouds.png');
} */
.main {
  height: auto;
}